# Graded: 13 of 13 correct
- [x] Read in data
- [x] Display first 5 rows
- [x] Set `coal` to coal column
- [x] Coal min
- [x] Coal max
- [x] Coal ratio
- [x] Coal/gas/petro line plot
- [x] Total sum
- [x] Bar plot, fraction co2 by state
- [x] Total NC
- [x] Sort total NC
- [x] Plot toal NC
- [x] Plot relative change

Comments:

# Assignment 6: Working with Pandas data frames

In [2]:
%matplotlib inline
%autosave 15

# these next lines make the array and plotting modules available
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd

Autosaving every 15 seconds

***
## The data

* First we will read two data sets from files. 
* The original data is taken from the <a href="https://www.eia.gov/" target="_blank">U.S. Energy Information Administration</a> setup by the U.S. Congress with a mission to _"Collect, analyze, and disseminate independent and impartial energy information to promote sound policymaking, efficient markets, and public understanding of energy and its interaction with the economy and the environment."_
* For this assignment we have made minor data modifications purely for educational purposes.
* If you are interested in this data, you can download the actual data from their <a href="https://www.eia.gov/opendata/bulkfiles.php" target="_blank">latest bulk download site</a>.
* We will be more than happy to help anyone interested in a more thorough scientific look at this data.

### The data sets are:
* `states_co2_pd` is a pandas data frame of size `n`&Cross;`3` where the three columns are the number of million metric tons of $CO_2$ produced by that state from coal, natural gas, and petroleum respectively, and `n` is the number of US states in the dataset.

* `nc_co2_pd` is a pandas data frame of size `m`&Cross;`3` where the three columns are the number of million metric tons of $CO_2$ produced by the state of North Carolina from coal, natural gas, and petroleum respectively, and `m` is number of years of EIA information.

* The two datasets are shown below.

***
## Read in states data
1. Set variable `states_co2_pd` to a Pandas DataFrame by reading the `states_co2.csv` file.
2. Display the first 5 rows of `states_co2_pd`.

In [3]:
states_co2_pd = pd.read_csv('states_co2.csv')

# Update unnamed column to State
states_co2_pd.rename(columns={'Unnamed: 0': 'state'}, inplace=True)

states_co2_pd.head(5)

     state       coal  natural gas   petroleum
0  Florida  40.242420    75.027273  114.793297
1     Iowa  28.120345    16.828779   28.183284
2  Indiana  89.142017    41.388710   51.322376
3   Alaska   1.563846    17.556345   15.789255
4  Arizona  30.584560    19.711348   36.710043

***
## Q1 coal use

Each state uses different amounts of coal.
 1. Set variable `coal` to the column of `states_co2_pd` that corresponds to coal use.
 1. Find the smallest amount of $CO_2$ emitted by any state in 2016 and assign that to `coal_min`
 1. Find the largest amount of $CO_2$ emitted by any state in 2016 and assign that to `coal_max`
 1. Find the <a href="https://www.mathsisfun.com/definitions/ratio.html" target="_blank">ratio</a> of the state emitting the largest amount of $CO_2$ to the smallest amount (`coal_max:coal_min`) as a real (float) number and assign it to `coal_ratio`.
 
 **NOTE:** A more scientific comparison of the output of $CO_2$ from Indiana and Connecticut should consider the population of each state and make a per capita comparison.

In [4]:
# cell 5 of 25

coal = states_co2_pd['coal']

print(type(coal))
display(coal.head(90))

<class 'pandas.core.series.Series'>

0     40.242420
1     28.120345
2     89.142017
3      1.563846
4     30.584560
5      0.220985
6     15.381395
7     24.662918
8     15.290870
9      0.498350
10     2.902463
11    36.044177
12    68.917226
13     2.516145
14    20.940565
15    33.737180
16    25.399385
Name: coal, dtype: float64

In [5]:
# cell 7 of 25

coal_min = coal.min()

print(type(coal_min))
print('The smallest amount of CO2 emitted by any state in 2016 was', coal_min)

<class 'float'>
The smallest amount of CO2 emitted by any state in 2016 was 0.220985

In [6]:
# cell 9 of 25

coal_max = coal.max()
print('The largest amount of CO2 emitted by any state in 2016 was', coal_max)

The largest amount of CO2 emitted by any state in 2016 was 89.142017

In [7]:
# cell 11 of 25

coal_ratio = coal_max / coal_min

print('The ratio of CO2 emitted in 2016 by the state with the largest amount of CO2 to the state with the smallest was', coal_ratio)

The ratio of CO2 emitted in 2016 by the state with the largest amount of CO2 to the state with the smallest was 403.38492205353305

***
# Plotting data

## Q2 Plot each states $CO_2$ emissions by source type

<img src="plot1.png" width="300" style="float: right" />

Similar to variable `coal`,
you may want to create a variable `nat_gas` and `petro` that are copies of the columns in `states_co2`.

Plot a line graph of $CO_2$ emissions by each of the three source types
The graph you produce should look like the figure to the right.
You won't have to put in the title or axis labels as
they have been provided for you.

In [8]:
# Create valriables for nat_gal and petro
nat_gas = states_co2_pd['natural gas']
petro = states_co2_pd['petroleum']

In [20]:
# cell 13 of 25

# First plot the coal line
plt.plot(coal, color='black', marker='1')

# Then natural gas

plt.plot(nat_gas, color='blue', marker='2')

# Finally petroleum
plt.plot(petro, color='grey', marker='3')


# The following statements show how to label the figure
# DO NOT UPDATE THE FOLLOWING LINES OF CODE!!!!
plt.title('State emission of CO2 by source type')
plt.ylabel('CO2 emission million metric tons')
plt.xlabel('States')
plt.legend(('Coal', 'Natural gas', 'Petroleum'), loc='upper right')
plt.xticks(range(len(states_co2_pd.index)), states_co2_pd['states'], rotation='vertical')
q2_graph = plt.gcf()  # DO NOT TOUCH THIS LINE. ENSURE IT'S THE LAST LINE IN THIS CELL

KeyError: 'states'

***
## Q3 Total emission by type

Create a variable `total` that is an array that has each state's sum of its three emission source types

In [10]:
# cell 15 of 25
columns = ['coal', 'natural gas', 'petroleum']
total = states_co2_pd[columns].sum(axis=1)
display(total.head(30))

# go ahead and add the total column to the states_co2_pd dataframe
states_co2_pd['total emissions'] = total
display(states_co2_pd.head(5))

0     230.062990
1      73.132408
2     181.853103
3      34.909446
4      87.005951
5      34.301329
6      57.557960
7      89.254966
8      30.459165
9      13.752912
10     36.651105
11    120.553143
12    217.408711
13     14.995021
14    104.237818
15     95.609028
16     58.761516
dtype: float64

     state       coal  natural gas   petroleum  total emissions
0  Florida  40.242420    75.027273  114.793297       230.062990
1     Iowa  28.120345    16.828779   28.183284        73.132408
2  Indiana  89.142017    41.388710   51.322376       181.853103
3   Alaska   1.563846    17.556345   15.789255        34.909446
4  Arizona  30.584560    19.711348   36.710043        87.005951

***
## Q4 Fraction of coal $CO_2$ emission

<img src="plot2.png" width="300" style="float: right" />

For each state, plot the fraction of $CO_2$ emissions that are attributable to coal.

**NOTE** that you will have to put in the label, legend, tick, and title.

In [16]:
# cell 17 of 25

coal_fraction = coal / total

# Add title, x labels, y labels, and xticks
plt.bar(range(len(states_co2_pd)), coal_fraction, color='black')
plt.title('Fraction of CO2 emissions from coal')
plt.ylabel('Fraction')
plt.xlabel('States')
plt.xticks(range(len(states_co2_pd.index)), states_co2_pd['state'], rotation='vertical')
q4_graph = plt.gcf() # DO NOT TOUCH THIS LINE. ENSURE IT'S THE LAST LINE IN THIS CELL

***
## Q5 Total North Carolina $CO_2$ in chronological order

* Compute the total $CO_2$ produced in North Carolina from coal, natural gas, and petroleum.
* Assign the value to variable `total_nc`.

* Put `total_nc` to be in increasing chronological order.
* In other words, the last element in `total_nc` should be from 2016. The next to last element should be from 2015, etc.

In [12]:

# import the nc data
nc_data = pd.read_csv('nc_co2.csv')
# Update the column name
nc_data.rename(columns={'Unnamed: 0': 'year'}, inplace=True)

nc_data.head(5)

   year       coal  natural gas  petroleum
0  2016  36.044177    28.662326  55.846640
1  2015  38.287672    27.378673  55.383228
2  2014  47.359348    24.527619  55.488194
3  2013  46.620151    23.611172  54.828050
4  2012  50.486940    19.522147  51.297146

In [13]:
# cell 19 of 25

columns = ['coal', 'natural gas', 'petroleum']


total_nc = nc_data[columns].sum(axis=1)
total_nc.name = 'NC Total Emissions'
print(total_nc)

0     120.553143
1     121.049573
2     127.375161
3     125.059373
4     121.306233
5     128.624282
6     143.008967
7     132.991562
8     149.198769
9     154.458804
10    148.628039
11    154.028166
12    149.714438
13    146.500279
14    145.333685
15    143.810536
16    148.851011
17    140.780871
18    142.466784
19    143.130764
20    140.647141
21    128.709154
22    122.388064
23    127.082332
24    121.140638
25    110.888882
26    111.113882
27    115.510696
28    111.425114
29    107.298984
30    112.107540
31    106.760886
32    108.807569
33    107.343971
34    107.742362
35    111.861576
36    112.346916
Name: NC Total Emissions, dtype: float64

In [14]:
# add total_nc to the nc_data dataframe
nc_data[total_nc.name] = total_nc

# order the columns chronoligically, reset the index 
nc_data_sorted = nc_data.sort_values(by='year', ascending=True).reset_index(drop=True)

# show the first 5  and last 5 rows of the dataframe
display(nc_data_sorted.head(5))
display(nc_data_sorted.tail(5))

   year       coal  natural gas  petroleum  NC Total Emissions
0  1980  58.557925     8.231636  45.557355          112.346916
1  1981  61.450579     8.185689  42.225308          111.861576
2  1982  58.418547     7.786490  41.537325          107.742362
3  1983  55.891661     7.482316  43.969994          107.343971
4  1984  52.508441     7.888518  48.410610          108.807569

    year       coal  natural gas  petroleum  NC Total Emissions
32  2012  50.486940    19.522147  51.297146          121.306233
33  2013  46.620151    23.611172  54.828050          125.059373
34  2014  47.359348    24.527619  55.488194          127.375161
35  2015  38.287672    27.378673  55.383228          121.049573
36  2016  36.044177    28.662326  55.846640          120.553143

***
## Q6 North Carolina $CO_2$ emmissions

<img src="plot3.png" width="300" style="float: right" />


Using `total_nc`, plot a graph, similar to the graph to the right, that shows North Carolina's total emission of $CO_2$ over the years in increasing chronological order.

In [15]:
# cell 21 of 25


plt.plot(nc_data_sorted['year'], nc_data_sorted['NC Total Emissions'], color='black', marker='1')
plt.xlabel( 'Year')
plt.ylabel('CO2 emissions')
plt.title('CO2 emissions in North Carolina')
plt.xticks(range(len(total_nc)), nc_data_sorted['year'], rotation='vertical')

plt.gcf().savefig('plot3.png', bbox_inches='tight')
q6_graph = plt.gcf()  # DO NOT TOUCH THIS LINE. ENSURE IT'S THE LAST LINE IN THIS CELL

***
## Terminology 

**Change or difference** is simply the second number minus the first number.
The change from 100 to 101 is 1.
The change from 101 to 102 is 1.

**Relative change** is the __change__ divided by the first value. The relative change from 100 to 101 is 0.01.

When we're talking about multiple years, use the terms above applied to each pair of years.
Consider the values `[1, 2, 1, 4]`.

* The __change__ is `[1, -1, 3]`,
* The __relative change__ is `[1/1, -1/2, 3/1]` or `[1.0, -0.5, 3.0]`.

## Q7 Relative change in $CO_2$

<img src="plot4.png" width="300" style="float: right" />

 1. Plot the relative change in North Carolina's total $CO_2$ emissions.
    The plot should appear similar to the graph at the right.
    - A negative relative change for any year implies a decrease in $CO_2$ emmissions
    - You may want to print out the numbers so that you understand to help you understand the data!!!
 1. Add a red line at 0 height to facilitate knowing positive relative change versus negative relative change
 1. Compute the minimum, maximum, and average relative change in North Carolina's total $CO_2$ emissions.
 1. How many years had negative relative change from the previous year?
 1. How many years had non-negative relative change?

Again, since you will be doing multiple computations, you may want to print out your results at each step.

In [ ]:
# cell 23 of 25

relative_difference = 
nc_max = 
nc_min = 
nc_avg = 

nc_neg = 
nc_pos = 

plt.plot(stuff)
# add the x and y label
# add the title 
# add the xticks

print('The maximum, minimum, and average relative change is', nc_max, nc_min, nc_avg)
print(nc_neg, 'years had increases (negative relative change) in CO2 emissions in North Carolina.')
print(nc_pos, 'years had decreases (positive relative change) in CO2 emissions in North Carolina.')